<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802952093814-e3k5ki250gkkku8k8miffjg18pqifirc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802952093814-e3k5ki250gkkku8k8miffjg18pqifirc</string>
	<key>API_KEY</key>
	<string>AIzaSyCK1hQoHk90pp2EDmRRjgrcGTCRZeo13tU</string>
	<key>GCM_SENDER_ID</key>
	<string>802952093814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.mikesvendsen.RealTimeChat-Firebase</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-firebase-95e07</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-firebase-95e07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802952093814:ios:8da1485e763eca726d3f57</string>
</dict>
</plist>